<!-- Tag helpers to replace href  - incase the folders get moved or changed
    from...
      <li class="active"><a href="#">Home</a></li>  

    to..
         <li class="active"><a asp-controller="App" asp-action="Index">Home</a></li>
    -->

@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
